<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Gogazo</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="icono/logo1.ico" rel="icon">
  <link href="icono/icono.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="whatsapp/whatsapp.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- =======================================================
  * Template Name: KnightOne - v2.1.0
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div id="wsp">
    <a href="https://api.whatsapp.com/send?phone=51970342801&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Gogazo (https://gogazo.com)"
      class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>
  </div>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function () { FB.init({ xfbml: true, version: 'v7.0'}); };
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your Chat Plugin code -->
  <div class="fb-customerchat" attribution=setup_tool page_id="103242834809924" theme_color="#20cef5"
    logged_in_greeting="¡Bienvenido! ¿Cómo podemos ayudarte?"
    logged_out_greeting="¡Bienvenido! ¿Cómo podemos ayudarte?">
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><img src="images/gogazo.svg" alt="gogazo"></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>

              <li> <a href="https://www.facebook.com/info.gogazo/" target="_blank" class="facebook"><i
                    class="fa fa-facebook-square"></i></a>
              </li>
              <li> <a href="https://www.instagram.com/gogazo.pe/" target="_blank" class="instagram"><i
                    class="fa fa-instagram"></i></a>
              </li>
              <li class="active"><a href="#">Inicio</a></li>
              <li><a href="#about">Nosotros</a></li>
              <li class="drop-down"><a href="#services">Servicios</a>
                <ul style="background-color: #444444;">
                  <li><a href="#services" style="color: aliceblue;">Desarrollo Web</a></li>
                  <li><a href="#services" style="color: aliceblue;">Aplicaciones Móviles</a></li>
                  <li><a href="#services" style="color: aliceblue;">Soporte Técnico</a></li>
                  <li><a href="#services" style="color: aliceblue;">Diseño Gráfico</a></li>
                </ul>
              </li>
              <li><a href="#portfolio">Proyectos</a></li>
              <li><a href="#pricing">Planes</a></li>

              <li><a href="#faq">Preguntas Frecuentes</a>
                <!--<ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li class="drop-down"><a href="#">Deep Drop Down</a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Drop Down 2</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                </ul>-->
              </li>
              <li><a href="#contact">Contáctanos</a></li>

            </ul>
          </nav><!-- .nav-menu -->

          <!-- <a href="#about" class="get-started-btn scrollto">Empieza</a>-->
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" onclick="" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <img src="images/gogazo-central.svg" width="330px" height="200px" alt="gogazo">
          <h2>Diseño y Desarrollo Web</h2>
          <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          <a class="venobox play-btn mb-4" onclick="playVideo()">
          </a>
          <script>
            function playVideo() {
              $("#ModalGogazo").modal()
              $("#video-presentacion").trigger('play');

            }

          </script>

          <div id="ModalGogazo" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <video id='video-presentacion' src="video/presentacion.mp4" type="video/mp4" width="100%" height="100%"
                  controls></video>


              </div>
            </div>
          </div>
        </div>
      </div>
  </section><!-- End Hero -->

  <main id="app">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Nosotros</h2>

          <p></p>
        </div>

        <div class="row content">
          <div class="col-lg-12">
            <p>Somos un equipo de desarrolladores que te ayudarán a llevar tu negocio al mundo digital con el uso de las
              herramientas correctas.</p>
            <ul>
              <li><i class="ri-check-double-line"></i> Diseñamos tu página web</li>
              <li><i class="ri-check-double-line"></i> Software a medida</li>
              <li><i class="ri-check-double-line"></i> Diseño gráfico</li>
            </ul>
          </div>
          <!-- <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>-->
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Servicios</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Desarrollo Web</a></h4>
              <ul>
                <li>
                  <p>Elaboramos un sitio web con las herramientas necesarias para que tus clientes puedan conocer tu
                    producto y/o servicio.</p>
                </li>
                <li>
                  <p>Intranet para tu negocio.</p>
                </li>
                <li>
                  <p>Sistemas web a medida.</p>
                </li>
              </ul>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Aplicaciones Móviles</a></h4>
              <ul>
                <li>
                  <p>Apps informativas para acercar tu producto a todos tus clientes.</p>
                </li>

              </ul>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Soporte Técnico </a></h4>
              <ul>
                <li>
                  <p>Brindamos asistencia remota o presencial para tus equipos informáticos.</p>
                </li>
                <li>
                  <p>Te orientamos y capacitamos para el manejo de cualquier herramienta o programa que desees utilizar
                    en tu dispositivo.</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Diseño Gráfico</a></h4>
              <ul>
                <li>
                  <p>Creación de logotipos.</p>
                </li>
                <li>
                  <p>Imágenes publicitarias para todas tus redes sociales (Facebook, Instagram, Whatsapp, etc).</p>
                </li>
                <li>
                  <p>Targeta de Presentación con Código QR.</p>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- SE AGREGÓ COMENTARIOS
      
      ======= Cta Section ======= -->
    <!-- SE AGREGÓ COMENTARIOS 
      <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Cta Section -->


    <!-- ======= Features Section ======= -->

    <!--SE AGREGÓ COMENTARIOS

      <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt"></i>
              <h4>Est labore ad</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt"></i>
              <h4>Harum esse qui</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-images"></i>
              <h4>Aut occaecati</h4>
              <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-shield"></i>
              <h4>Beatae veritatis</h4>
              <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");'>
          </div>
        </div>

      </div>
    </section>-->
    <!-- End Features Section -->

    <!-- ======= Clients Section ======= -->
    <!-- SE AGREGÓ COMENTARIOS
    
    
    <section id="clients" class="clients">
      <div class="container">

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->

    <!-- ======= Counts Section ======= 
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>What we have achieved so far</h3>
          <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section>-->
    <!-- End Counts Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Proyectos</h2>
          <p>Porque nos preocupamos en tu crecimiento y en la importante integración de la tecnología en tu negocio;
            GOGAZO sigue un proceso de Antes, Durante
            y Después de tu Proyecto. Por eso te mostramos nuestros resultados de algunas empresas que confiaron en
            nosotros.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todo</li>
              <li data-filter=".filter-web">Web</li>

              <!--<li data-filter=".filter-app">App</li>-->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <img src="images/alistoreperu.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Ali Store</h4>
              <p>TIENDA ONLINE - ROPA</p>
              <a href="images/aula_virtual.png" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="https://alistoreperu.com" target="blank" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <img src="images/aula_virtual.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>I.E.P. Nuestros Héroes de la Guerra del Pacífico</h4>
              <p>TACNA</p>
              <a href="images/aula_virtual.png" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="http://gogazo.com:8080/AulaVirtual" target="blank" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <img src="images/web_academico.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sistema Web Académico</h4>
              <p>ADMINISTRATIVO | AULA VIRTUAL</p>
              <a href="images/web_academico.png" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="http://gogazo.com:8080/colegios" target="blank" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>


          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <img src="images/dbruno.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sistema de Gestión de Compras y Ventas</h4>
              <p>D'BRUNO - AVÍCOLA</p>
              <a href="images/dbruno.png" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i
                  class="bx bx-plus"></i></a>
              <a href="http://gogazo.com:8080/dbruno" target="_blank" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>


          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <img src="images/sistema_planillas.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sistema de RRHH </h4>
              <p>MUNICIPALIDAD DE JOSÉ LEONARDO ORTIZ</p>
              <a href="images/sistema_planillas.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="https://cliente-remuneracion.netlify.app/" target="_blank" class="details-link"
                title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <img src="images/mall_aventura.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>MAD | Mall Aventura</h4>
              <p>SANTA ANITA - LIMA</p>
              <a href="images/mall_aventura.png" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="https://mad.mallaventura.pe/" target="_blank" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>
          <!--
          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" target="_blank" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" target="_blank"
                class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" target="_blank" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>
        -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Planes (Páginas Web)</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box">
              <h3><b>ECONÓMICO</b></h3>
              <!--<h4><sup>$</sup>0<span> / month</span></h4>-->
              <ul>
                <li>Sitio Web Responsive</li>
                <li>Hosting, Dominio y Certificado SSL</li>
                <li>1 a 4 secciones de información</li>
                <li>Enlace a Redes Sociales</li>
                <li class="na">Formulario de Contacto</li>
                <li class="na">Burbuja de Whatsapp y Messenger</li>
                <li class="na">Galería de productos</li>
                <li class="na">Google Maps</li>
                <li class="na">Extras</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://api.whatsapp.com/send?phone=51970342801&text=Hola%20Gogazo%21%20Quisiera%20cotizar%20sobre%20el%20Plan%20Económico"
                  class="btn-buy">Cotizar Ahora</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" style="background-color: #00c9db;">
            <div class="box recommended">
              <span class="recommended-badge">Recomendado</span>
              <h3><b>EMPRENDEDOR</b></h3>
              <!--<h4><sup>$</sup>0<span> / month</span></h4>-->
              <ul>
                <li>Sitio Web Responsive</li>
                <li>Hosting, Dominio y Certificado SSL</li>
                <li>4 a 8 secciones de información</li>
                <li>Enlace a Redes Sociales</li>
                <li>Formulario de Contacto</li>
                <li>Burbuja de Whatsapp y Messenger</li>
                <li>Galería de productos (máx 100 productos)</li>
                <li class="na">Google Maps</li>
                <li class="na">Extras</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://api.whatsapp.com/send?phone=51970342801&text=Hola%20Gogazo%21%20Quisiera%20cotizar%20sobre%20el%20Plan%20Emprendedor"
                  class="btn-buy">Cotizar Ahora</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h3><b>GOGAZO</b></h3>
              <!--<h4><sup>$</sup>0<span> / month</span></h4>-->
              <ul>
                <li>Sitio Web Responsive</li>
                <li>Hosting, Dominio y Certificado SSL</li>
                <li>8 a más secciones de información</li>
                <li>Enlace a Redes Sociales</li>
                <li>Formulario de Contacto</li>
                <li>Burbuja de Whatsapp y Messenger</li>
                <li>Galería de productos (ilimitados)</li>
                <li>Google Maps</li>
                <li>*Requisitos Adicionales*</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://api.whatsapp.com/send?phone=51970342801&text=Hola%20Gogazo%21%20Quisiera%20cotizar%20sobre%20el%20Plan%20Gogazo"
                  class="btn-buy">Cotizar Ahora</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Faq Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Preguntas <strong>Frecuentes</strong></h3>
              <p>
                Hey! Tú que eres un Emprendedor o estás por iniciar un Negocio, te haz preguntado...
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-toggle="collapse" href="#accordion-list-1" class="collapsed">¿Cómo hacer mi negocio más
                    profesional? <i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse" data-parent=".accordion-list">
                    <p>
                      Hoy en día todo negocio necesita estar en internet, así sea desde el más pequeño hasta el más
                      grande; por ende, el equipo de Gogazo
                      es el perfecto aliado para que lleves tu negocio a la era digital, en la cual recibirás servicios
                      exclusivos para que te sientas cómodo
                      y veas resultados óptimos.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">¿Por qué tendría que tener mi
                    propio sitio web?<i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                      Porque tendrás presencia en internet y así te ubicarán más fácilmente. Ofrecerás atención al
                      cliente 24/7, conseguirás nuevos clientes y
                      fidelizarás los que ya tienes. Además de que tu publicidad se dará con el mayor alcance al menor
                      coste.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">Necesito llegar a más clientes.
                    ¿Qué puedo hacer?<i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                    <p>
                      De seguro tendrás tu página de Facebook o Instagram donde publicas tus productos y/o servicios,
                      pero tienes que saber que una página en una red social
                      no sustituyen a un sitio web, ambos son complementarios.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-4" class="collapsed">¿Cuánto costará comprar uno de
                    estos servicios?<i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                    <p>
                      Sabemos que el dinero es un factor indispensable en todo negocio, es por eso que nosotros te
                      ofrecemos diferentes planes de acuerdo a tus necesidades para
                      que puedas integrar Tecnología y así crecer aún más tu negocio. Solo necesitas contactarnos y
                      nosotros te haremos una cotización ¡GRATIS!
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            style='background-image: url("images/preguntas.jpg");'>&nbsp;
          </div>

        </div>

      </div>
    </section><!-- End Faq Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contáctanos</h2>
          <p>¿Tienes una gran idea en la que te podamos ayudar? Mándanos un mensaje con tus datos y nosotros organizamos
            una reunión.</p>
        </div>
      </div>

      <!--
      <div>
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div>
       -->

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Correo Electrónico:</h4>
                <p>info.gogazo@gmail.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Celular:</h4>
                <p>(+51) 970 342 801</p>
              </div>

            </div>
          </div>

          <div class="col-lg-8 mt-5 mt-lg-2">
            <div v-if="confirmation" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Hola <span v-html="info.nombre" ></span></strong>. Se envío un mensaje al correo electrónico de <span v-html="info.correo"></span></strong>.
            </div>
            <form @submit.prevent="sendEmail" method="post">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input v-model="info.nombre" type="text" name="nombre" class="form-control" id="nombre" placeholder="Tu Nombre" required>
                </div>
                <div class="col-md-6 form-group">
                  <input v-model="info.numero" type="number" class="form-control" name="telefono" id="telefono" placeholder="Tu Teléfono / Celular" required min="9">
                </div>
              </div>
              <div class="form-group">
                <input v-model="info.correo" type="email" class="form-control" name="correo" id="correo" placeholder="Tu Correo Electrónico" required/>
              </div>
              <div class="form-group">
                <textarea v-model="info.mensaje"  class="form-control" name="mensaje" id="mensaje" placeholder="Escribe aquí tu mensaje..." rows="5" required></textarea>
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary" value="ENVIAR MENSAJE">
              </div>
            </form>
          </div>
        </div>
      </div>
      

    </section>
  </main>

  <footer id="footer">
    <div class="container">
      <h4>¡Síguenos en nuestras Redes Sociales y entérate más sobre nosotros!</h4>
      <p></p>
      <div class="social-links">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            <a href="https://www.facebook.com/info.gogazo" class="facebook"><i class="bx bxl-facebook"></i></a>
            <p>(@info.gogazo)</p>
          </div>
          <div class="col-md-2">
            <a href="https://www.instagram.com/gogazo.pe/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <p>(@gogazo.pe)</p>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>2020</span></strong>. Todos los Derechos Reservados
      </div>
    </div>
  </footer>

  <div id="preloader"></div>
  <!--<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>-->

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          info: {
            numero: '',
            correo: '',
            nombre: '',
            mensaje: '',
          },
          tempNombre: '',
          tempCorreo: '',
          confirmation: false,
        }
      },
      methods:{
       async sendEmail(){
          if(this.info.numero == '') return
          if(this.info.correo == '') return
          if(this.info.nombre == '') return
          if(this.info.mensaje == '') return
          this.tempNombre = this.info.nombre;
          this.tempCorreo = this.info.correo;
          console.info('gaaaaa')
          let post = this.info;
          axios.post('https://api-remuneracion.herokuapp.com//api_remuneracion/v1/enviar_correo_gogazo',post).then(function (response) {
            let {data} = response;
          }).catch(function (error) {
            console.log(error);
          });
          this.confirmation = true,
          setTimeout(() => { this.info = { numero: '', correo: '', nombre: '', mensaje: '',}; this.confirmation = false; }, 5000)
        }
      },
      mounted () {
        
      }
    })

  </script>

</body>

</html>